.inter-milan {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.raleway {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    margin: 0;
}

/* Shared Styles */

.btn-primary {
    padding: 12px 36px 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border-style: none;
    font-weight: bold;
    transition: all 0.4s ease;
}


/* Banner Section */
.banner {
    max-width: 100%;
    height: 698px;
    background-image: url(../Assets/Hero-bg.png);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    height: 151px;
}

.logo {
    color: #4E47FF;
    font-size: 30px;
}

.template {
    margin: 160px 267px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.template-moto {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
    text-align: center;
}

.btn-sf {
    margin-bottom: 200px;
}



/* preview section */

.preview-content {
    max-width: 517px;

}

.preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 159px 116px 159px;

}

.preview-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}

.preview-img img {
    border-radius: 48px;
}

.preview-explore {
    font-size: 24px;
    color: #252432af;
    margin-bottom: 23px;

}


/* stat section */

.stats-section {
    background-color: rgb(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 48px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 159px 116px 159px;
}

.container {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.stats-title {
    font-size: 32px;
    font-weight: 700;
    color: #2d3748;
    margin-bottom: 48px;
}

.stats-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.stat-number {
    font-size: 64px;
    font-weight: 800;
    color: #4E47FF;

}

.stat-label {
    font-size: 18px;
    color: #64748b;
    font-weight: 500;
}


/* Card Section */

.user-heading {
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: bold;
}

.cards-section {
    text-align: center;
    margin: 116px 159px 116px 159px;

}

.user-saying {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
}

.user-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(255, 255, 255, 0.521);
    padding: 24px;
    border-radius: 14px;
    max-width: 450px;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.048);
}

.stars {
    color: #FFB805;
    font-size: 20px;
    margin-bottom: 24px;
}

.card>h3 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card>p {
    font-size: 20px;
    color: #555;

    margin-bottom: 24px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img {
    border-radius: 100%;
}

.user-name {
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.562);
}

.user-date {
    font-size: 16px;
    color: #c9c4c4;
}

